<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.behere.video.dao.GiftDao">

	<select id="queryGifts" resultType="com.behere.video.domain.Gift">
		SELECT
			g.id,
			g.url,
			g.name,
			g.flower
		FROM
 			t_gift g WHERE g.deleted = 0 ORDER BY g.flower ASC
	</select>

	<select id="queryGiftById" resultType="com.behere.video.domain.Gift">
		SELECT
			*
		FROM
 			t_gift g
 		WHERE
 			id = #{giftId}
	</select>

	<insert id="saveSendGiftRecord" parameterType="com.behere.video.domain.SendGift">
		INSERT INTO t_gift_record (
			id,
			from_user,
			to_user,
			gift_id
		) VALUES (
			#{id},
			#{fromUser},
			#{toUser},
			#{giftId}
		)
	</insert>

	<select id="queryMyGift" resultType="com.behere.video.domain.MyGift">
		SELECT
			COUNT(r.id) AS nums,
			g.`name` AS gift_name,
			g.url
		FROM
			t_gift_record r
		LEFT JOIN t_gift g ON g.id = r.gift_id
		WHERE
			r.to_user = #{userId}
		GROUP BY
			r.gift_id
	</select>
</mapper>